{% extends "base.html" %}
{% block content %}
<body class="wallpaper">
    <div class="header">
        <h1>Time For Book</h1>
        <p>Reading is to the mind what exercise is to the body. —Joseph Addison</p>
    </div>
    <div class="container btn-position">
        <div>
            <form id="login-form" action="/login" method="get">
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
        </div>
        <div>
            <form id="register-form" action="/register" method="get">
                <button type="submit" class="btn btn-success">Sign up</button>
            </form>
        </div>
    </div>

</body>
{% endblock %}