{% extends "base.html" %}
{% block content %}
<body class="wallpaper">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class=""navbar-header>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/auth/login" title="Home">Home</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/books/new">New Book</a></li>
                        <li><a href="/books">Your Books</a></li>
                        <li><a href="/recommendation">Your Favorite</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-title container">
        <h2>{{ book_name }}</h2>
        <a href="/reviews/new/{{ book_id }}"><button class="btn btn-primary">New Review</button></a>
        {% if reviews|length > 0 %}
            {% for review in reviews %}
                <h3>{{ review.title }}</h3>
                <p>{{ review.content }}</p>
                <p>{{ review.author }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <h4>There aren't any reviews yet!</h4>
        {% endif %}
    </div>
</body>
{% endblock %}